/* Webfont: LemonTuesday */@font-face {
    font-family: 'LemonTuesday';
    src: url('Lemon Tuesday.eot'); /* IE9 Compat Modes */
    src: url('Lemon Tuesday.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Lemon Tuesday.woff') format('woff'), /* Modern Browsers */
         url('Lemon Tuesday.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

