* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
header,
nav,
section,
article,
aside,
footer {
    display: block;
}
textarea {
    resize: none;
    -webkit-user-select: auto;
    user-select: auto;
}
ol,
ul {
    list-style: none;
}

:focus {
    outline: 0;
}
html,
body {
    -webkit-text-size-adjust: none;
    font: 12px/14px Arial;
    width: 100%;
    height: 100%; /* If you want your footer pressed to the content, remove this line */
    line-height: normal;
}
a {
    color: blue;
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

img {
    border: none;
}

input {
    vertical-align: middle;
    -webkit-user-select: auto;
    user-select: auto;
}
.clear {
    clear: both;
    margin: 0;
    padding: 0;
}
.display-none {
    display: none !important;
}
