@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Roboto&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border: 0;
    border-radius: 8px;
    background-clip: content-box;
    background-color: rgba(#757575, 0.3);
}

* {
    scrollbar-color: rgba(#757575, 0.3) transparent;
    scrollbar-width: thin;
}

body,
html {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    overflow: auto;
    background: #0f0e0c;
}

a {
    color: #ad9c82;
    text-decoration: underline;
}

#app {
    width: 100%;
    overflow: hidden;
}

.wrapper {
    width: 103.5em;
    height: 100%;
    margin: 0 auto;
    background: url('../img/background.jpg') no-repeat center 0;
    background-size: contain;

    & > section {
        height: 100%;
        width: 70em;
        margin: 0 auto;

        & > .top {
            width: 100%;
            height: 34.6em;
            position: relative;

            .logo {
                position: absolute;
                top: 1em;
                right: 0;
                display: flex;
                text-decoration: none;
            }

            .logo_name {
                display: flex;
                flex-direction: column;
                font-family: Arial, sans-serif;
            }

            .logo_txt {
                color: white;
                float: right;
                font-size: 5.5em;
                font-weight: bold;
                position: relative;
                text-shadow: 5px 5px 5px #000;

                & > span.red {
                    color: #f90514;
                    font-weight: bold;
                }
            }

            .studio {
                color: #fff;
                letter-spacing: 0.4em;
                font-size: 1.2em;
                font-weight: bold;
                margin: -1em 0 0 0.25em;
                position: relative;
                z-index: 1;
            }

            .logo_img {
                width: 11.4em;
                height: 11.4em;
                background: url('../img/bug.png') 0 0 no-repeat;
            }

            .menu {
                position: absolute;
                left: 1em;
                bottom: 0;
                width: 85%;

                .publicTabs {
                    display: flex;
                    justify-content: space-around;
                    height: 3.1em;
                    position: relative;

                    li {
                        flex: 1 1 auto;
                        display: flex;
                        justify-content: center;
                        height: 100%;
                        align-items: center;
                        align-content: center;

                        .navLink {
                            color: #4c443b;
                            display: flex;
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                            justify-content: center;
                            align-items: center;
                            font-weight: bold;
                            text-decoration: none;

                            &.router-link-active,
                            &:hover {
                                background: url('../img/nav_hover.png') repeat-x 0 -2px;
                                color: #ad9c82;
                            }
                        }
                    }

                    /*-------------------lavalamp------------------------*/

                    .lavalamp {
                        background: url('../img/lavalamp.png') no-repeat 0 0
                            transparent;
                        height: 1.14em;
                        left: 0;
                        position: absolute;
                        top: -0.28em;
                        width: 4.57em;
                        -moz-transition: all 700ms ease;
                        -ms-transition: all 300ms ease;
                        -o-transition: all 300ms ease;
                        -webkit-transition: all 300ms ease;
                        transition: all 300ms ease;
                    }

                    .lavalamp:hover {
                        -moz-transition-duration: 3000s;
                        -ms-transition-duration: 3000s;
                        -o-transition-duration: 3000s;
                        -webkit-transition-duration: 3000s;
                        transition-duration: 3000s;
                    }

                    & > li:nth-child(1):hover ~ .lavalamp,
                    & > li.selected:nth-child(1) ~ .lavalamp {
                        left: 4.5em;
                    }

                    & > li:nth-child(2):hover ~ .lavalamp,
                    & > li.selected:nth-child(2) ~ .lavalamp {
                        left: 19.3em;
                    }

                    & > li:nth-child(3):hover ~ .lavalamp,
                    & > li.selected:nth-child(3) ~ .lavalamp {
                        left: 34.5em;
                    }

                    & > li:nth-child(4):hover ~ .lavalamp,
                    & > li.selected:nth-child(4) ~ .lavalamp {
                        left: 49.6em;
                    }
                }
            }
        }

        .content {
            width: 100%;
            height: 100%;
            position: relative;

            .content_inner {
                background: url('../img/content.png') no-repeat 0 0;
                height: 735px;
                margin-left: -84px;
                margin-top: 90px;
                padding: 35px 50px 0 181px;
                position: relative;
                width: 772px;
                color: #978b78;
                z-index: 2;
            }

            .tab {
                height: 93.5%;
                padding: 15px;
                overflow-y: auto;
                line-height: 1.5em;

                ul li {
                    margin: 5px 0;
                }
            }

            h1.title {
                font-size: 20px;
                width: 100%;
                text-align: center;
                margin: 10px 0 20px;
            }

            p {
                margin: 5px 0;
            }

            .contact_list {
                background: url('../img/contacts_bg.png') no-repeat 0 0;
                background-size: contain;
                padding: 73px 0 0 88px;
                font-size: 16px;
                height: 460px;
                margin: 0 auto;
                width: 400px;
                position: relative;

                & table {
                    border-collapse: collapse;

                    tr,
                    td {
                        border: 1px dashed;
                    }

                    td {
                        padding: 5px 30px 5px 10px;
                        vertical-align: middle;
                        font-size: 12px;
                    }
                }
            }

            .side_slide {
                background: url('../img/side_slide.png') no-repeat 0 0;
                height: 733px;
                position: absolute;
                right: -43px;
                top: -90px;
                width: 506px;
                z-index: 1;

                #dont_click {
                    background: url('../img/dontclick.png') repeat center top;
                    cursor: pointer;
                    height: 208px;
                    position: absolute;
                    right: 70px;
                    top: 20px;
                    width: 213px;

                    &:hover {
                        background: url('../img/dontclick.png') repeat 0 -206px;
                    }
                }
            }
        }
    }
}

.footer {
    background: url('../img/footer_bg.jpg') repeat-x 0 0;
    width: 100%;
    min-width: 103.5em  ;
    height: 81px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;

    .line_inner {
        width: 70em;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        & .foot_line {
            background: url(/src/assets/img/foot_line.png) no-repeat 11px 0;
            height: 235px;
            width: 545px;
            position: relative;

            .copy {
                position: absolute;
                display: flex;
                bottom: 0;
                height: 93px;
                width: 100%;
                justify-content: space-around;
                align-items: center;

                .foot_txt {
                    display: flex;
                    align-items: center;
                    height: 35px;
                    color: #ffffff;
                    font-family: 'Comic Neue', cursive;
                }

                .footer_logo {
                    background: url('../img/badbug_copy.png') no-repeat 0 0;
                    background-size: contain;
                    width: 165px;
                    height: 35px;
                }
            }
        }
    }
}
