.fire-wrapper {
    position: absolute;
    bottom: 172px;
    right: 298px;
    height: 400px;
}
.fire-wrapper ul.wall {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 400px;
    display: none;
}
.fire-wrapper ul.wall li {
    position: absolute;
    width: 60px;
    height: 25px;
    border-radius: 2px;
    list-style: none;
    background-color: #3c2e37;
}
.fire-wrapper ul.wall li:nth-child(1) {
    top: 60px;
    left: 50px;
    background-color: #5a4450;
}
.fire-wrapper ul.wall li:nth-child(2) {
    top: 20px;
    left: 160px;
    background-color: #5a4450;
}
.fire-wrapper ul.wall li:nth-child(3) {
    top: 110px;
    left: 80px;
}
.fire-wrapper ul.wall li:nth-child(4) {
    top: 110px;
    left: 150px;
}
.fire-wrapper ul.wall li:nth-child(5) {
    top: 140px;
    left: 100px;
    background-color: #5a4450;
}
.fire-wrapper ul.wall li:nth-child(6) {
    top: 70px;
    left: 240px;
}
.fire-wrapper ul.wall li:nth-child(7) {
    top: 100px;
    left: 280px;
    background-color: #503c47;
}
.fire-wrapper ul.wall li:nth-child(8) {
    top: 40px;
    left: 350px;
}
.fire-wrapper ul.wall li:nth-child(9) {
    top: 190px;
    left: 35px;
}
.fire-wrapper ul.wall li:nth-child(10) {
    top: 220px;
    left: 20px;
    background-color: #503c47;
}
.fire-wrapper ul.wall li:nth-child(11) {
    top: 270px;
    left: 70px;
    background-color: #5a4450;
}
.fire-wrapper ul.wall li:nth-child(12) {
    top: 300px;
    left: 20px;
    background-color: #503c47;
}
.fire-wrapper ul.wall li:nth-child(13) {
    top: 220px;
    right: 70px;
    background-color: #5a4450;
}
.fire-wrapper ul.wall li:nth-child(14) {
    top: 260px;
    right: 90px;
}
.fire-wrapper ul.wall li:nth-child(15) {
    top: 140px;
    right: 60px;
    background-color: #503c47;
}
.fire-wrapper ul.ground {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translatex(-50%);
    width: 1000px;
    height: 200px;
    display: none;
}
.fire-wrapper ul.ground li {
    list-style: none;
    position: absolute;
    height: 10px;
    border-radius: 10px;
    background-color: #5a4450;
}
.fire-wrapper ul.ground li:nth-child(1) {
    top: 0px;
    left: 10px;
    width: 120px;
}
.fire-wrapper ul.ground li:nth-child(2) {
    top: 0px;
    left: 150px;
    width: 700px;
}
.fire-wrapper ul.ground li:nth-child(3) {
    top: 0px;
    left: 860px;
    width: 100px;
}
.fire-wrapper ul.ground li:nth-child(4) {
    top: 0px;
    left: 970px;
    width: 70px;
}
.fire-wrapper ul.ground li:nth-child(5) {
    top: 30px;
    left: 50px;
    width: 180px;
}
.fire-wrapper ul.ground li:nth-child(6) {
    top: 30px;
    left: 400px;
    width: 280px;
}
.fire-wrapper ul.ground li:nth-child(7) {
    top: 30px;
    left: 750px;
    width: 240px;
}
.fire-wrapper ul.ground li:nth-child(8) {
    top: 60px;
    left: 600px;
    width: 200px;
}
.fire-wrapper ul.ground li:nth-child(9) {
    top: 60px;
    left: 160px;
    width: 160px;
}
.fire-wrapper ul.ground li:nth-child(10) {
    top: 60px;
    left: 360px;
    width: 70px;
}
.fire-wrapper ul.embers {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translatex(-50%);
    width: 200px;
    height: 200px;
}
.fire-wrapper ul.embers li {
    opacity: 0;
    list-style: none;
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 30px;
    background-color: #ff8706;
    animation: blink_ember 4s 0s ease-in-out infinite;
}
.fire-wrapper ul.embers li:nth-child(1) {
    top: 0px;
    left: 100px;
    animation-delay: 0s;
}
.fire-wrapper ul.embers li:nth-child(2) {
    top: 10px;
    left: 150px;
    height: 8px;
    width: 8px;
    background-color: #ffde04;
    animation-delay: 0.4s;
}
.fire-wrapper ul.embers li:nth-child(3) {
    top: 40px;
    left: 80px;
    height: 8px;
    width: 8px;
    background-color: #ffde04;
    animation-delay: 0.6s;
}
.fire-wrapper ul.embers li:nth-child(4) {
    top: 30px;
    left: 50px;
    height: 12px;
    width: 12px;
    animation-delay: 1.1s;
}
.fire-wrapper ul.embers li:nth-child(6) {
    top: 30px;
    left: 180px;
    height: 4px;
    width: 4px;
    animation-delay: 1.4s;
}
.fire-wrapper ul.embers li:nth-child(7) {
    top: 60px;
    left: 160px;
    animation-delay: 0.9s;
}
.fire-wrapper .crown {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
.fire-wrapper .crown ul.round {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(1.2);
    margin: 0;
    padding: 0;
}
.fire-wrapper .crown ul.round li {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    list-style: none;
    border-radius: 50%;
}
.fire-wrapper .crown ul.round li:nth-child(1) {
    top: -20px;
    left: -65px;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background-color: #e89601;
    transform: scale(3);
}
.fire-wrapper .crown ul.round li:nth-child(1)::before {
    content: "";
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fea604;
}
.fire-wrapper .crown ul.round li:nth-child(1)::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 1px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #dddddd;
}
.fire-wrapper .crown ul.round li:nth-child(2) {
    width: 50px;
    height: 50px;
    border: 5px solid #7db111;
}
.fire-wrapper .crown ul.round li:nth-child(3) {
    width: 60px;
    height: 60px;
    border: 5px solid #4c6b0a;
}
.fire-wrapper .crown ul.round li:nth-child(4) {
    width: 65px;
    height: 65px;
    border: 5px solid #8dc813;
}
.fire-wrapper .crown ul.round li:nth-child(5) {
    width: 70px;
    height: 70px;
    border: 10px solid #7db111;
}
.fire-wrapper .crown ul.round li:nth-child(6) {
    width: 85px;
    height: 85px;
    border: 5px solid #4c6b0a;
}
.fire-wrapper .crown ul.round li:nth-child(7) {
    width: 90px;
    height: 90px;
    border: 15px solid #7db111;
}
.fire-wrapper .crown ul.round li:nth-child(8) {
    width: 105px;
    height: 105px;
    border: 10px solid #6d9a0f;
}
.fire-wrapper .crown ul.round li:nth-child(9) {
    left: 50px;
    top: -35px;
    transform: none;
    transform-origin: top left;
    transform: rotate(-85deg);
    width: 15px;
    height: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 75px;
    background-color: #7db111;
    overflow: hidden;
}
.fire-wrapper .crown ul.round li:nth-child(9)::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    background-color: #5c820d;
    transform: rotate(45deg);
}
.fire-wrapper .crown ul.round li:nth-child(10) {
    left: 50px;
    top: -35px;
    transform: none;
    transform-origin: top left;
    transform: rotate(-40deg);
    width: 15px;
    height: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 75px;
    background-color: #7db111;
    overflow: hidden;
}
.fire-wrapper .crown ul.round li:nth-child(10)::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    background-color: #5c820d;
    transform: rotate(45deg);
}
.fire-wrapper .crown ul.round li:nth-child(11) {
    left: -10px;
    top: 58px;
    transform: none;
    transform-origin: top left;
    transform: rotate(65deg);
    width: 15px;
    height: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 75px;
    background-color: #7db111;
    overflow: hidden;
}
.fire-wrapper .crown ul.round li:nth-child(11)::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    background-color: #5c820d;
    transform: rotate(45deg);
}
.fire-wrapper .crown ul.round li:nth-child(12) {
    left: -10px;
    top: 58px;
    transform: none;
    transform-origin: top left;
    transform: rotate(20deg);
    width: 15px;
    height: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 75px;
    background-color: #7db111;
    overflow: hidden;
}
.fire-wrapper .crown ul.round li:nth-child(12)::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    background-color: #5c820d;
    transform: rotate(45deg);
}
.fire-wrapper .crown ul.round li:nth-child(13) {
    left: -36px;
    top: -44px;
    transform: none;
    transform-origin: top left;
    transform: rotate(190deg);
    width: 15px;
    height: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 75px;
    background-color: #7db111;
    overflow: hidden;
}
.fire-wrapper .crown ul.round li:nth-child(13)::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    background-color: #5c820d;
    transform: rotate(45deg);
}
.fire-wrapper .crown ul.round li:nth-child(14) {
    left: -36px;
    top: -44px;
    transform: none;
    transform-origin: top left;
    transform: rotate(220deg);
    width: 15px;
    height: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 75px;
    background-color: #7db111;
    overflow: hidden;
}
.fire-wrapper .crown ul.round li:nth-child(14)::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    background-color: #5c820d;
    transform: rotate(45deg);
}
.fire-wrapper .crown ul.round li:nth-child(15) {
    left: 50px;
    top: 20px;
    transform: none;
    transform-origin: top left;
    transform: rotate(20deg);
    width: 15px;
    height: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 75px;
    background-color: #7db111;
    overflow: hidden;
}
.fire-wrapper .crown ul.round li:nth-child(15)::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    background-color: #5c820d;
    transform: rotate(45deg);
}
.fire-wrapper .crown ul.round li:nth-child(16) {
    left: 50px;
    top: 15px;
    transform: none;
    transform-origin: top left;
    transform: rotate(-50deg);
    width: 15px;
    height: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 75px;
    background-color: #7db111;
    overflow: hidden;
}
.fire-wrapper .crown ul.round li:nth-child(16)::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    background-color: #5c820d;
    transform: rotate(45deg);
}
.fire-wrapper .crown ul.round li:nth-child(17) {
    left: 50px;
    top: 15px;
    transform: none;
    transform-origin: top left;
    transform: rotate(-5deg);
    width: 15px;
    height: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 75px;
    background-color: #7db111;
    overflow: hidden;
}
.fire-wrapper .crown ul.round li:nth-child(17)::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    background-color: #5c820d;
    transform: rotate(45deg);
}
.fire-wrapper .crown ul.round li:nth-child(17) {
    left: -50px;
    top: 15px;
    transform: none;
    transform-origin: top left;
    transform: rotate(120deg);
    width: 15px;
    height: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 75px;
    background-color: #7db111;
    overflow: hidden;
}
.fire-wrapper .crown ul.round li:nth-child(17)::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    background-color: #5c820d;
    transform: rotate(45deg);
}
.fire-wrapper .crown ul.ball {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 160px;
    height: 160px;
    margin: 0;
    padding: 0;
}
.fire-wrapper .crown ul.ball li {
    z-index: 2;
    position: absolute;
    left: 0;
    list-style: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background-color: #c61b1b;
}
.fire-wrapper .crown ul.ball li::before {
    content: "";
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #dc1e1e;
}
.fire-wrapper .crown ul.ball li::after {
    content: "";
    position: absolute;
    left: 1px;
    top: 1px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #f5f5f5;
}
.fire-wrapper .crown ul.ball li:nth-child(1) {
    top: 25px;
    left: 30px;
}
.fire-wrapper .crown ul.ball li:nth-child(2) {
    top: 42px;
    left: 15px;
}
.fire-wrapper .crown ul.ball li:nth-child(3) {
    top: 40px;
    left: 32px;
}
.fire-wrapper .crown ul.ball li:nth-child(4) {
    top: 90px;
    left: 20px;
}
.fire-wrapper .crown ul.ball li:nth-child(5) {
    top: 50px;
    left: 95px;
}
.fire-wrapper .crown ul.ball li:nth-child(6) {
    top: 80px;
    left: 120px;
}
.fire-wrapper .crown ul.ball li:nth-child(7) {
    top: 95px;
    left: 130px;
}
.fire-wrapper .crown ul.ball li:nth-child(8) {
    top: 100px;
    left: 110px;
}
.fire-wrapper .crown ul.ball li:nth-child(9) {
    top: 20px;
    left: 60px;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background-color: #e89601;
    transform: scale(2.2);
}
.fire-wrapper .crown ul.ball li:nth-child(9)::before {
    content: "";
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fea604;
}
.fire-wrapper .crown ul.ball li:nth-child(9)::after {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #f5f5f5;
}
.fire-wrapper .crown ul.ball li:nth-child(10) {
    top: 125px;
    left: 100px;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background-color: #e89601;
    transform: scale(2);
}
.fire-wrapper .crown ul.ball li:nth-child(10)::before {
    content: "";
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fea604;
}
.fire-wrapper .crown ul.ball li:nth-child(10)::after {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #f5f5f5;
}
.fire-wrapper .crown ul.ball li:nth-child(11) {
    top: 20px;
    left: 120px;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background-color: #c61b1b;
    transform: scale(3.2);
}
.fire-wrapper .crown ul.ball li:nth-child(11)::before {
    content: "";
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #dc1e1e;
}
.fire-wrapper .crown ul.ball li:nth-child(11)::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 1px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #dddddd;
}
.fire-wrapper .crown ul.ball li:nth-child(12) {
    top: 130px;
    left: 50px;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background-color: #c61b1b;
    transform: scale(4);
}
.fire-wrapper .crown ul.ball li:nth-child(12)::before {
    content: "";
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #dc1e1e;
}
.fire-wrapper .crown ul.ball li:nth-child(12)::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 1px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #dddddd;
}
.fire-wrapper .fireplace {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 440px;
    height: 340px;
    background-color: #3a2c34;
    transform: translatex(-50%) scale(0.6);
    transform-origin: center bottom;
}
.fire-wrapper .fireplace::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 0px;
    width: 400px;
    height: 400px;
    background-color: #cf705c;
}
.fire-wrapper .fireplace .bottom {
    z-index: 15;
    position: absolute;
    bottom: -70px;
    left: -20px;
    width: 480px;
    height: 60px;
    background-color: #8e3f30;
}
.fire-wrapper .fireplace .bottom::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -20px;
    width: 480px;
    height: 20px;
    background-color: #3a2c34;
}
.fire-wrapper .fireplace .bottom::after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 440px;
    height: 20px;
    background-color: #b05945;
}
.fire-wrapper .fireplace ul.top {
    position: absolute;
    top: -40px;
    left: 0px;
    width: 440px;
    height: 40px;
    background-color: #bd6b39;
}
.fire-wrapper .fireplace ul.top::before {
    content: "";
    position: absolute;
    left: 10px;
    bottom: -14px;
    width: 420px;
    height: 14px;
    background-color: #b05945;
}
.fire-wrapper .fireplace ul.top li {
    list-style: none;
    position: absolute;
    height: 5px;
    border-radius: 10px;
    background-color: #a96033;
}
.fire-wrapper .fireplace ul.top li:nth-child(1) {
    top: 10px;
    left: 10px;
    width: 120px;
}
.fire-wrapper .fireplace ul.top li:nth-child(2) {
    top: 10px;
    left: 150px;
    width: 60px;
}
.fire-wrapper .fireplace ul.top li:nth-child(3) {
    top: 10px;
    left: 220px;
    width: 120px;
}
.fire-wrapper .fireplace ul.top li:nth-child(4) {
    top: 10px;
    right: 10px;
    width: 70px;
}
.fire-wrapper .fireplace ul.top li:nth-child(5) {
    top: 20px;
    left: 50px;
    width: 120px;
}
.fire-wrapper .fireplace ul.top li:nth-child(6) {
    top: 20px;
    right: 50px;
    width: 120px;
}
.fire-wrapper .fireplace ul.top li:nth-child(7) {
    top: 30px;
    left: 30px;
    width: 20px;
}
.fire-wrapper .fireplace ul.top li:nth-child(8) {
    top: 30px;
    left: 60px;
    width: 70px;
}
.fire-wrapper .fireplace ul.top li:nth-child(9) {
    top: 30px;
    left: 160px;
    width: 160px;
}
.fire-wrapper .fireplace ul.top li:nth-child(10) {
    top: 30px;
    right: 10px;
    width: 70px;
}
.fire-wrapper .fireplace ul.bricks {
    position: absolute;
    top: 0;
    left: 0;
    width: 440px;
    height: 400px;
}
.fire-wrapper .fireplace ul.bricks li {
    position: absolute;
    width: 60px;
    height: 25px;
    border-radius: 2px;
    list-style: none;
    background-color: #ca624c;
}
.fire-wrapper .fireplace ul.bricks li:nth-child(1) {
    top: 60px;
    left: 50px;
    background-color: #9e4f42;
}
.fire-wrapper .fireplace ul.bricks li:nth-child(2) {
    top: 20px;
    left: 160px;
    background-color: #9e4f42;
}
.fire-wrapper .fireplace ul.bricks li:nth-child(3) {
    top: 110px;
    left: 80px;
}
.fire-wrapper .fireplace ul.bricks li:nth-child(4) {
    top: 110px;
    left: 150px;
}
.fire-wrapper .fireplace ul.bricks li:nth-child(5) {
    top: 140px;
    left: 100px;
    background-color: #9e4f42;
}
.fire-wrapper .fireplace ul.bricks li:nth-child(6) {
    top: 70px;
    left: 240px;
}
.fire-wrapper .fireplace ul.bricks li:nth-child(7) {
    top: 100px;
    left: 280px;
    background-color: #b05945;
}
.fire-wrapper .fireplace ul.bricks li:nth-child(8) {
    top: 40px;
    left: 350px;
}
.fire-wrapper .fireplace ul.bricks li:nth-child(9) {
    top: 190px;
    left: 35px;
}
.fire-wrapper .fireplace ul.bricks li:nth-child(10) {
    top: 220px;
    left: 20px;
    width: 40px;
    background-color: #b05945;
}
.fire-wrapper .fireplace ul.bricks li:nth-child(11) {
    top: 270px;
    left: 70px;
    width: 50px;
    background-color: #9e4f42;
}
.fire-wrapper .fireplace ul.bricks li:nth-child(12) {
    top: 300px;
    left: 20px;
    width: 40px;
    background-color: #b05945;
}
.fire-wrapper .fireplace ul.bricks li:nth-child(13) {
    top: 220px;
    right: 70px;
    background-color: #9e4f42;
}
.fire-wrapper .fireplace ul.bricks li:nth-child(14) {
    top: 260px;
    right: 90px;
}
.fire-wrapper .fireplace ul.bricks li:nth-child(15) {
    top: 140px;
    right: 60px;
    background-color: #b05945;
}
.fire-wrapper .fireplace .chimney {
    z-index: 10;
    position: absolute;
    bottom: -92px;
    left: 50%;
    transform: translatex(-50%);
    width: 280px;
    height: 240px;
    border-radius: 50%;
    border: 16px solid transparent;
    border-top: 16px solid #b05945;
}
.fire-wrapper .fireplace .chimney::before {
    content: "";
    position: absolute;
    bottom: 62px;
    left: 26px;
    width: 16px;
    height: 150px;
    background-color: #b05945;
}
.fire-wrapper .fireplace .chimney::after {
    content: "";
    position: absolute;
    bottom: 62px;
    right: 26px;
    width: 16px;
    height: 150px;
    background-color: #b05945;
}
.fire-wrapper .fireplace .chimney-shadow {
    z-index: 9;
    position: absolute;
    bottom: -115px;
    left: 50%;
    transform: translatex(-50%);
    width: 270px;
    height: 240px;
    border-radius: 50%;
    border: 20px solid transparent;
    border-top: 20px solid #5b4352;
}
.fire-wrapper .fireplace .chimney-shadow::before {
    content: "";
    position: absolute;
    bottom: 60px;
    left: 28px;
    width: 30px;
    height: 170px;
    background-color: #5b4352;
}
.fire-wrapper .fireplace .chimney-shadow::after {
    content: "";
    position: absolute;
    bottom: 60px;
    right: 28px;
    width: 30px;
    height: 170px;
    background-color: #5b4352;
}
.fire-wrapper .fireplace .chimney-fire-wrapper {
    z-index: 8;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translatex(-50%);
    width: 180px;
    height: 150px;
    background-color: #705365;
}
.fire-wrapper .fireplace .chimney-fire-wrapper ul.wood {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #bd6b39;
}
.fire-wrapper .fireplace .chimney-fire-wrapper ul.wood li {
    list-style: none;
    position: absolute;
    height: 4px;
    border-radius: 10px;
    background-color: #a96033;
}
.fire-wrapper .fireplace .chimney-fire-wrapper ul.wood li:nth-child(1) {
    top: 8px;
    left: 10px;
    width: 20px;
}
.fire-wrapper .fireplace .chimney-fire-wrapper ul.wood li:nth-child(2) {
    top: 8px;
    left: 40px;
    width: 60px;
}
.fire-wrapper .fireplace .chimney-fire-wrapper ul.wood li:nth-child(3) {
    top: 8px;
    right: 5px;
    width: 20px;
}
.fire-wrapper .fireplace .chimney-fire-wrapper ul.wood li:nth-child(4) {
    top: 16px;
    left: 20px;
    width: 40px;
}
.fire-wrapper .fireplace .chimney-fire-wrapper ul.wood li:nth-child(5) {
    top: 16px;
    right: 10px;
    width: 50px;
}
.fire-wrapper .fireplace .chimney-fire-wrapper ul.wood li:nth-child(6) {
    top: 24px;
    left: 0px;
    width: 20px;
}
.fire-wrapper .fireplace .chimney-fire-wrapper ul.wood li:nth-child(7) {
    top: 24px;
    right: 20px;
    width: 80px;
}
.fire-wrapper .fireplace .chimney-fire-wrapper ul.wood li:nth-child(8) {
    bottom: -5px;
    right: 15px;
    width: 5px;
    height: 52px;
    background-color: #444444;
}
.fire-wrapper .fireplace .chimney-fire-wrapper ul.wood li:nth-child(8)::after {
    content: "";
    position: absolute;
    top: -20px;
    right: -9px;
    border: 5px solid transparent;
    border-bottom: 5px solid #444444;
    border-left: 5px solid #444444;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: rotate(-45deg);
}
.fire-wrapper .fireplace .chimney-fire-wrapper ul.wood li:nth-child(9) {
    bottom: -5px;
    left: 15px;
    width: 5px;
    height: 52px;
    background-color: #444444;
}
.fire-wrapper .fireplace .chimney-fire-wrapper ul.wood li:nth-child(9)::after {
    content: "";
    position: absolute;
    top: -20px;
    right: -9px;
    border: 5px solid transparent;
    border-bottom: 5px solid #444444;
    border-left: 5px solid #444444;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: rotate(-45deg);
}
.fire-wrapper .fireplace .candle {
    position: absolute;
    top: -114px;
    left: 50px;
    width: 50px;
    height: 90px;
    background-color: #dddddd;
}
.fire-wrapper .fireplace .candle::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 50px;
    height: 25px;
    background-color: #dc1e1e;
    transform: skew(10deg) rotate(10deg);
}
.fire-wrapper .fireplace .candle::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0px;
    width: 50px;
    height: 25px;
    background-color: #dc1e1e;
    transform: skew(10deg) rotate(10deg);
}
.fire-wrapper .fireplace .candle .fire {
    top: -30px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg) scale(0.6);
    width: 30px;
    height: 30px;
}
.fire-wrapper .fireplace .candle#candle-2 {
    left: 110px;
    top: -64px;
    width: 50px;
    height: 40px;
}
.fire-wrapper .fireplace .candle#candle-2::before {
    height: 10px;
    bottom: 10px;
    background-color: #7bb218;
    transform: none;
}
.fire-wrapper .fireplace .candle#candle-2::after {
    height: 10px;
    top: 0px;
    background-color: #7bb218;
    transform: none;
}
.fire-wrapper .fireplace .candle#candle-3 {
    left: 340px;
    top: -104px;
    width: 30px;
    height: 80px;
}
.fire-wrapper .fireplace .candle#candle-3::before {
    width: 30px;
    height: 20px;
    bottom: 0px;
    background-color: #dc1e1e;
    transform: none;
}
.fire-wrapper .fireplace .candle#candle-3::after {
    width: 30px;
    height: 20px;
    top: 0px;
    background-color: #dc1e1e;
    transform: none;
}
.fire-wrapper .fireplace .sock {
    transform-origin: top left;
    transform: rotate(20deg);
    position: absolute;
    top: 20px;
    left: 90px;
    width: 50px;
    height: 80px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #7bb218;
}
.fire-wrapper .fireplace .sock::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translatex(-50%);
    width: 70px;
    height: 20px;
    border-radius: 8px;
    background-color: #f5f5f5;
}
.fire-wrapper .fireplace .sock .second {
    position: absolute;
    bottom: 25px;
    left: -20px;
    width: 40px;
    height: 90px;
    border-radius: 30px;
    background-color: #7bb218;
    transform-origin: bottom center;
    transform: rotate(115deg);
    overflow: hidden;
}
.fire-wrapper .fireplace .sock .second::before {
    content: "";
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 20px;
    background-color: #f5f5f5;
}
.fire-wrapper .fireplace .sock .second::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translatex(-50%);
    width: 70px;
    height: 20px;
    border-radius: 8px;
    background-color: #f5f5f5;
}
.fire-wrapper .fireplace .sock#sock-2 {
    transform: scale(0.9) rotate(20deg);
    left: 210px;
    background-color: #fea604;
}
.fire-wrapper .fireplace .sock#sock-2 .second {
    background-color: #fea604;
}
.fire-wrapper .fireplace .sock#sock-3 {
    transform: scale(0.8) rotate(20deg);
    left: 320px;
    background-color: #dc1e1e;
}
.fire-wrapper .fireplace .sock#sock-3 .second {
    background-color: #dc1e1e;
}
.fire-wrapper .fire {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 45px;
    height: 45px;
    border-top-left-radius: 0;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-bottom-left-radius: 75px;
    background-color: #ff8706;
    border-left: 12px solid #ff3602;
    border-top: 12px solid #ff3602;
    overflow: hidden;
    animation: blink_fire 1s 0s ease-in-out alternate infinite;
}
.fire-wrapper .fire::after {
    content: "";
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%,-50%);
    width: 25px;
    height: 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-bottom-left-radius: 75px;
    background-color: #ffde04;
}
@keyframes blink_fire {
    0% {
        opacity: 1;
   }
    100% {
        opacity: 0.7;
   }
}
@keyframes blink_ember {
    0% {
        opacity: 0;
   }
    80% {
        opacity: 0;
   }
    81% {
        opacity: 1;
        transform: translatey(20px);
   }
    100% {
        opacity: 0;
   }
}


.sock:hover {
    cursor: pointer;
    -webkit-animation: sock 1s ease infinite;
    animation: sock 1s ease infinite;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
}


@-webkit-keyframes sock {
    50% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
}

@keyframes sock {
    50% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
}