<% itemLength=items.length%>
<% renderedCount=listView.indexes[cacheKey]%>
<%var iteration=0%>
<%previousDate=false%>
<% _.each(items,function(oneItem,index){ %>
         <%if (index>=renderedCount&&iteration<limit){%>
             <% if(index == 0 || (previousDate&&!baseApplication.helpers.compareTwoDates(oneItem.pubDate, previousDate))) { %>
                <%if(index&&previousDate&&!baseApplication.helpers.compareTwoDates(oneItem.pubDate, previousDate)){%>
                     <li class="list-line"></li>
                     <%previousDate=oneItem.pubDate%>
                <%}%>
                <li class="list-wrap without-bg">
                    <div class="content-block-title"><%=baseApplication.helpers.getItemDate(oneItem.pubDate,true)%></div>
                </li>
             <% } %>
                <%if (!previousDate){previousDate=oneItem.pubDate}%>
                <li class="list-wrap <%if(oneItem.visited) print('visited')%>" >
                    <!--<div class="content-block-title"><%=baseApplication.helpers.getItemDate(oneItem.pubDate,true)%></div>-->
                     <div class="item-content"  data-index="<%=index%>">
                         <div class="item-media with-img">
                             <% if(oneItem.smallImg){ %>
                                <img src="<%=oneItem.cachedSrc %>" data-index="<%=index%>" />
                             <% } else { %>
                                <div class="no-image"></div>
                             <% } %>
                                <!--<div class="item-after" data-index="<%=index%>"><%if(cacheKey=="news")print(baseApplication.helpers.getTime(oneItem.pubDate))%></div>-->
                         </div>
                         <div class="item-inner" data-index="<%=index%>">
                             <div class="item-title-row">
                                 <div class="item-title" data-index="<%=index%>"><%=oneItem.title%></div>
                             </div>
                             <div class="item-text item-after" data-index="<%=index%>"><%if(cacheKey=="news")print(baseApplication.helpers.getTime(oneItem.pubDate))%></div>
                             <!--<div class="item-text" data-index="<%=index%>"><%=oneItem.shortDescription%></div>-->
                         </div>
                     </div>
                </li>
                <%iteration++%>
         <%}%>
<% }) %>