<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner" id="main-navbar">
        <div class="left">
            <!-- Right link contains only icon - additional "icon-only" class-->
            <a  class="icon-only" onTouchStart="javascript:baseApplication.f7app.openPanel('left');"><i class="icon menu fa fa-navicon"></i></a>
        </div>
        <!-- We have home navbar without left link-->
        <div class="center sliding">
            <div class="webkitbox title-time">
                <span class="title"><%=name%></span>
                <span id="time" class="time"></span>
            </div>
        </div>
        <div class="right">
            <a href="#" onTouchStart="baseApplication.router.loadPage('sendPhotos',{model:{},viewParams:{swipeBackPage:true}})" class="link item-link icon-only"><i class="icon fa fa-camera"></i></a>
        </div>

    </div>
</div>
<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through toolbar-fixed">

    <!-- Page, data-page contains page name-->
    <div data-page="index" class="page cached" id="overflowvisible">
        <div class="buttons-row theme-bg" id="change-tabs">
                       <span class="triangle" id="triangle"></span>
                       <% _.each(tabs,function(tab,i){ var active=(i+1)==currentTab?'active':'';print('  <a href="#'+(i+1)+'" onclick="javascript:return false" class="my-custom-tab-link '+active+' button ajax" >'+tab.name+'</a>')}) %>
                   </div>
        <!-- Scrollable page content-->
        <div class="page-content">
                <div class="overflow">
                    <div class="custom-tabs" id="tabs">
                        <div id="ptr">
                                                    <span class="genericon genericon-next"></span>
                                                    <div class="loading">
                                                        <span id="l1"></span>
                                                        <span id="l2"></span>
                                                        <span id="l3"></span>
                                                    </div>
                                                </div>
                        <% _.each(tabs,function(tab,i){ %>
                        <%var active=(i+1)==currentTab?'active':'';%>
                        <div id="<%=tab.id%>" class="custom-tab">
                            <div class="infinite-scroll-preloader centered">
                                <div class="preloader infinite big"></div>
                            </div>
                        </div>
                        <%}) %>
                    </div>
                </div>
        </div>

    </div>
</div>