/* Webfont: NexaDemo-Light */@font-face {
    font-family: 'NexaDemoLight';
    src: url('NexaDemo-Light.eot'); /* IE9 Compat Modes */
    src: url('NexaDemo-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('NexaDemo-Light.woff') format('woff'), /* Modern Browsers */
         url('NexaDemo-Light.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

