<!-- Left view -->
<div class="navbar">
         <div class="navbar-inner">
                 <!-- Right link contains only icon - additional "icon-only" class-->
                 <div class="left"><a class="custom-btn-back" ontouchend="javascript:window.stop();baseApplication.mainLayout.router.back()"></i><span>Назад</span></a></div>

         </div>
     </div>

<div class="view view-main left-view">
  <div class="page" data-page="comments">
      <div class="page-content comments-page">
          <div class="item-page-wrap" id="commentsOneItem">
                      <span class="preloader"></span>
          </div>
      </div>
  </div>
</div>

