<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <!-- Right link contains only icon - additional "icon-only" class-->
        <div class="left"><a  class="custom-btn-back" ontouchend="javascript:window.stop();baseApplication.mainLayout.router.back()"><span>Главная</span></a></div>
        <div class="center sliding">
            <div class="webkitbox title-time">
                <span class="title"><%=name%></span>
                <span id="time" class="time"></span>
            </div>
        </div>
        <div class="right">
        </div>
    </div>
</div>

<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through toolbar-fixed">

    <!-- Page, data-page contains page name-->
    <div data-page="liveVideo" class="page cached">
        <!-- Scrollable page content-->
        <div class="page-content item-page live-video-preloader-wrapper" id="live-video-wrapper">
            <div class="item-page-wrap">
                          <div class="item-wrap">
                              <div class="item-inner">
                                  <span class="preloader"></span>
                                    <iframe id="live-video"  name="dumvideo"  width="<%= frameParams.width %>" height="<%= frameParams.height %>"></iframe>
                              </div>
                          </div>
            </div>
        </div>

    </div>
</div>