<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wininteractive.dumskaya" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Думская</name>
    <description>
       Газета Думская
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        developers
    </author>
    <preference name="AndroidLaunchMode" value="singleTask" />
    <preference name="android-installLocation"    value="preferExternal" />
    <!--<preference name="Orientation" value="landscape" />-->

    <platform name="android">
        <icon src="res/drawable/icon.png" />
        <icon src="res/drawable-hdpi/icon.png" width="72" height="72" density="hdpi" />
        <icon src="res/drawable-mdpi/icon.png" width="48" height="48" density="mdpi" />
        <icon src="res/drawable-ldpi/icon.png" width="36" height="36" density="ldpi" />
        <icon src="res/drawable-xhdpi/icon.png" width="96" height="96" density="xhdpi" />
        <!-- you can use any density that exists in the Android project -->
        <splash src="res/drawable-land-hdpi/screen.png" density="land-hdpi"/>
        <splash src="res/drawable-land-ldpi/screen.png" density="land-ldpi"/>
        <splash src="res/drawable-land-mdpi/screen.png" density="land-mdpi"/>
        <splash src="res/drawable-land-xhdpi/screen.png" density="land-xhdpi"/>
        <splash src="res/drawable-port-hdpi/screen.png" density="port-hdpi"/>
        <splash src="res/drawable-port-ldpi/screen.png" density="port-ldpi"/>
        <splash src="res/drawable-port-mdpi/screen.png" density="port-mdpi"/>
        <splash src="res/drawable-port-xhdpi/screen.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <!-- images are determined by width and height. The following are supported -->
        <splash src="res/drawable-land-hdpi/screen.png" width="320" height="480"/>
    </platform>
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="6000" />

	<content src="index.html" />
    <access origin="*" />
</widget>
