@font-face {
    font-family: 'PTSans';
    src: url('../fonts/PT_Sans-Web-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTNarrow';
    src: url('../fonts/PTN57F.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*, *:after, *:before {
    -webkit-touch-callout:none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
p {
    margin: 0;
}
.theme-bg {
    background: #000;
    /*background: #8A1020;*/
}
input{
    /*-webkit-user-select:auto;*/
}
#overflowvisible{
    opacity: 1 !important;
}
html {
    font-size:100%;
}
body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'PTSans', sans-serif;
}
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.title {
    font-size: 24px;
    font-family: "PTNarrow";
    color: #ffca0c;
}
.icon-logo {
    background: url("../img/logo.png") no-repeat;
    width: 35px;
    height: 35px;
}
.panel {
    background: #efeff4;
}
.page, .pages {
    background: #efeff4;
}
iframe {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 800;
    -webkit-transform-style: preserve-3d;
}
.slider {
    height: 100%;
}
.logo {
    height: 25px;
    display: inline-block;
    vertical-align: middle;
 }
.fa-camera {
    float: right;
    font-size: 20px;
    line-height: 34px;
}
.bar.bar-header {
    border-bottom: 1px solid #e8e8ea;
}
.menu li {
    float: left;
    font-size: 21px;
    font-weight: bold;
    margin-right: 10px;
}
.menu li:last-child {
    margin-right: 0;
}
.preloader-indicator-overlay {
    background: #fff;
    z-index: 9999;
}
.preloader-indicator-modal {
    background: #fff;
}
.tabs-animated-wrap {
    height: 100%;
    overflow: hidden;
}
/*------------header------------*/
.navbar {
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.navbar.theme-bg {
    color: #fff;
}
.buttons-row.theme-bg .tab-link {
    color: rgba(255,255,255,0.8);
}
.buttons-row.theme-bg {
    position: absolute;
    width: 100%;
    z-index: 99999;
    top: 44px;
    left: 0;
    background: #989899;
}
.tabs-animated-wrap > .tabs > .tab, .custom-tabs .custom-tab {
    width: 100%;
    height: 100%;
    overflow: auto;
    min-height: 100%;
    min-width: 100%;
    box-sizing: border-box;
}
.tab-link.button {
    overflow: visible;
}
.buttons-row .button, .buttons-row .button:first-child {
    border-radius: 0;
    border: none;
}
.buttons-row.theme-bg .my-custom-tab-link.button  {
    background: none;
    color: rgba(255,255,255,0.8);
}
.buttons-row.theme-bg .my-custom-tab-link.button.active {
    color: rgba(255,255,255,1);
}
.buttons-row.theme-bg .tab-link.button.active-state {
    background: none;
    color: rgba(255,255,255,1);
}
.triangle {
    content: "";
    position: absolute;
    top: 100%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #989899 transparent transparent transparent;
    z-index: 5;
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 800;
    -webkit-transform-style: preserve-3d;
}
.navbar {
    border-bottom: 1px solid #ffca0c;
}
.buttons-row.theme-bg .tab-link.button, .my-custom-tab-link  {
    line-height: 27px;
    height: 30px;
    font-size: 18px;
    padding: 0 5px;
}
.navbar-through .page-content, .navbar-fixed .page-content {
    padding-top: 0;
    padding-bottom: 0;
    /*overflow: hidden;*/
}
.navbar-through .page-content.standard, .navbar-fixed .page-content.standard {
    padding-top: 44px;
}

.navbar-through .page-content.item-page , .navbar-fixed .page-content.item-page  {
    padding-top: 44px;
    overflow: auto;
    background: #fff;
}
.inner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    /*height: 35px;*/
    clear: both;
}
.main-menu {
    width: 100%;
    height: 25px;
}
.menu.fa.fa-navicon {
    font-size: 22px;
}
/*------------content------------*/
.tabs-animated-wrap > .tabs > .tab {
    overflow: auto;
    /*-webkit-overflow-scrolling: touch;*/
    /*-webkit-transform: translate3d(0,0,0);*/
    /*transform: translate3d(0,0,0);*/
    /*-webkit-backface-visibility: hidden;*/
    /*-webkit-perspective: 800;*/
    /*-webkit-transform-style: preserve-3d;*/
    min-height: 100%;
    min-width: 100%;
}
.tab .list-block {
    margin: 0;
}
.tab .list-block ul:first-child, .custom-tab .list-block ul:first-child{
    border-top: none;
}
.file-uploader {
    width: 100%;
}
.news-list ul {
    border-bottom: none;
    background: none;
}
.news-list ul .list-wrap {
    background: #fff;
    padding: 7px 0 0px;
}

.news-list ul .list-wrap:not(.without-bg):nth-child(even) {
    background: rgba(237,237,237,1);
}

.list-wrap.without-bg + .list-wrap {
    padding-top: 7px;
}
.news-list ul .list-wrap.without-bg {
    background: transparent;
    padding: 0;
}
.news-list li.list-line {
    border-bottom: 1px solid #c8c7cc;
    height: 1px;
    width: 100%;
}
.news-list.list-block .item-inner {
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: block;
   -webkit-box-direction: normal;
   -webkit-box-orient: vertical;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: stretch;
   align-items: stretch;

}
.list-block .item-inner.no-border{
    border: none;
}
.list-block.news-list .item-title-row {
    -webkit-box-ordinal-group: 1;
     -webkit-order: 0;
     order: 0;
     -webkit-box-flex: 0;
     -webkit-flex: 0 1 auto;
     flex: 0 1 auto;
     -webkit-align-self: auto;
     align-self: auto;
}
.list-block.news-list .item-title {
    font-size: 16px;
    /*max-height: 30px;*/
    height: auto;
    line-height: 18px;
    white-space: normal;
    color: rgb(0, 135, 214);
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    align-self: auto;

    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.list-block.news-list .item-text {
    font-size: 13px;
    max-height: 30px;
    height: auto;
    line-height: 14px;
    margin-top: 3px;
    color: #000000;
    -webkit-line-clamp: 2;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    align-self: auto;
}
.item-text iframe{
    width: 100%;
}
.list-block.news-list .item-after {
    font-size: 11px;
    color: #777;
    text-align: left;
}
.list-block.news-list .item-inner {
    padding: 0 7px 0 0;
}
.list-block.news-list .item-media+.item-inner {
    margin-left: 7px;
}
.list-block.news-list .item-content {
    padding: 0 0 0 7px;
    position: relative;
    margin-bottom: 5px;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    /*?????????????*/
}
.list-block.media-list.news-list .item-media, .list-block li.media-item .item-media {
    padding-top: 0;
    padding-bottom: 0;
}
.list-block.news-list .item-media {
    position: relative;
}
.item-media.with-img {
    width: 82px;
    height: 52px;
}
.news-list .item-media img {
    width: 84px;
    height: 52px;
}
.no-image {
    background: url("../img/no_image_available.png") no-repeat 0px 0;
    background-size: auto 52px;
    width: 100%;
    height: 100%;
}
.item-content a {
    color: rgb(0, 135, 214);
}
.list-block .item-after {
    margin-left: 0;

}
.send-photo, .send-button, .file-button {
    width: 100%;
}
.file-button {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.file-button input {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 10000px;
    border: 10000px solid transparent;
    opacity: 0;
    position: absolute;
    right: -1000px;
    top: -1000px;
    cursor: pointer;
}
.send-photo-form {
    /*margin: 0 10px;*/
}
.list-block.send-photo-form .item-inner {
    padding-right: 0;
    padding: 0 7px;
    width: 100%;
}
.infinite-scroll-preloader {
    text-align: center;
    height: 35px;
    position: relative;
}
.infinite-scroll-preloader .preloader, .infinite-custom-preloader .preloader.infinite {
    width:30px;
    height:30px;
}
.infinite-scroll-preloader .preloader.infinite, .infinite-custom-preloader .preloader.infinite{
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: preloader-spin 1s step-end infinite;
    animation: preloader-spin 1s step-end infinite;
}
.list-wrap {
    width: 100%;
    display: block;
    overflow: hidden;
}

.list-wrap:first-child .content-block-title {
    margin-top: 20px;
}

.pull-to-refresh-layer {
    position: absolute;
    position: relative;
     margin-top: -44px;
    left: 0;
    width: 100%;
    height: 44px;
    right: 0;
}
.navbar-through .page-content.pull-to-refresh-content , .navbar-fixed .page-content.pull-to-refresh-content  {
    padding-top: 74px;
}
.item-page-wrap {
    padding: 8px;
}
.item-page-wrap .item-title {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}
.item-page-wrap .item-media {
    width: 100%;
}
/*------------settings------------*/
.settings-page .list-block, .settings-page .item-detail {
    margin: 0 0px 15px;
}
.content-block {
    /*margin: 35px 0;*/
    padding: 0;
    color: #6d6d72;
}
.settings-page .list-block .item-media + .item-inner {
    /*margin-left: 0px;*/
}
.settings-page .list-block ul {
    background: 0;
    border-top: 1px solid #EBE9E9;
    border-bottom: 1px solid #EBE9E9;

}
.settings-page .item-content {
    color: #6d6d72;
    margin: 10px 0 0 0;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,.05);
    border: none;
    box-shadow: none;
    padding: 0 0 0 10px;
}
.settings-page .label-radio.item-content {
    box-shadow: none;
    border: none;
    box-sizing: border-box;

}
.settings-page .language {
    color: rgb(0, 135, 214);
}
.settings-page .list-block .item-inner {
    border: none;
}
.settings-page .accordion-item-content {
    background: #fff;
}
.settings-page .content-block-inner {
    margin-left: 0;
}
.about-block p {
    margin-bottom: 5px;
}
.about-block a{
    color: rgb(0, 135, 214);
}

/*.navbar-from-left-to-center .buttons-row, .navbar-from-right-to-center .buttons-row {
    -webkit-animation: navbarElementFadeIn 400ms forwards;
    animation: navbarElementFadeIn 400ms forwards;
    opacity: 1;
}
.navbar-from-center-to-right .buttons-row,  .navbar-from-center-to-left .buttons-row {
  -webkit-animation: navbarElementFadeOut 400ms forwards;
  animation: navbarElementFadeOut 400ms forwards;
  opacity: 0;
}*/



.navbar-fade-out {
  -webkit-animation: navbarElementFadeOut 400ms forwards;
  animation: navbarElementFadeOut 400ms forwards;

}

.navbar-fade-in {
    -webkit-animation: navbarElementFadeIn 400ms forwards;
     animation: navbarElementFadeIn 400ms forwards;
}

/* One Itam */

.item-page.page-content{
    padding-top: 54px;
}
.item-page-wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.item-wrap {
    display: flex;
    height: 100%;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}
.item-page .item-title {
    font-size: 19px;
    line-height: 24px;
    padding: 0;
    margin: 10px 0 15px 0;
    color: rgb(0, 135, 214);
    font-weight: bold;
}
.item-page .item-text {
    font-size: 17px;
    line-height: 24px;
    padding: 0 0px 10px;
    color: #000000;
}
.item-page .item-text a {
    color: rgb(0, 135, 214);
}
.item-page .item-text p {
    margin-bottom: 15px;
}
.item-page .item-text p:last-child {
    margin-bottom: 0;
}
.item-page .item-media img {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto 15px auto;
}
.navbar a.custom-btn-back  {
    background: url("../img/arrow.png")no-repeat center;
    color: rgb(0, 135, 214);
    background-size: 99%;
    font-size: 14px;
    font-weight: bold;
    width: 90px;
    line-height: 44px;
    height: 44px;
    text-decoration: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.navbar a.custom-btn-back span{
    width: 90px;
    text-align: center;
    display: inline-block;
    text-indent: 6px;
}
.navbar a.link.comments-link {
    background: url("../img/cloud.png")no-repeat center 12px;
    background-size: 97%;
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 135, 214);;
}
.navbar #comments_count.active-state {
    opacity: 1;
}
.navbar a.link.comments-link.no-comments {
    pointer-events: none;
    opacity: 0.3;

}
.navbar a.link.share {
    background: url("../img/share.png")no-repeat center;
    background-size: 30px 24px;
}
.item-page-wrap {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 800;
    -webkit-transform-style: preserve-3d;
}
.item-inner, .item-wrap {
    width: 100%;
}

/*comments*/
.page-content.comments-page {
    padding-top: 44px;
    overflow: hidden;
}
.comments-page .item-page-wrap>div {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
}
.comments-page .item-page-wrap>div:last-child {
    border: none;
}
.comments-page .item-page-wrap>div.preloader-indicator-modal{
    border-bottom: none
}
.comments-page .pb10 {

}
.comments-page .comtd1 {
    float: left;
    width: 35px;
    height: 35px;

}
.comments-page .comtd1>a>img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.comments-page .comtd2 {
    font-size: 13px;
    overflow: hidden;
    width: 100%;
}
.comments-page .comtd2>table{
    float: left;
}

.comments-page .user{
    vertical-align: top;
    display: inline-block;
    line-height: 100%;
    color: rgb(0, 135, 214);
}
.comments-page .comdate {
    font-size: 11px;
    color: #999;
    margin: 0;
    display: block;
    line-height: 100%;
    margin-top: -2px;
}

.comments-page .comtd2>div {
    padding: 5px;
    white-space: normal;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}

.comments-page  .comtd4 img{
    width: 18px;;
    display: inline-block;
}
.comments-page  .comtd5 {
    text-align: right;
    color: #540710;
    min-width: 27px;
}
.comans, .nobo {
    display: none;
}

.comments-page>.item-page-wrap>div>.comansd {
    padding-left: 20px;
}
/*.comments-page .item-wrap>div {*/
    /*width: 100%;*/
/*}*/
#commentsOneItem{
    margin-top: 15px;
}
#contentOneItem img, #contentOneItem iframe,.comments-page .comtd2>div img {

    width: 300px;
    height: auto;
    display: block;
    margin: 10px auto;
}
.comments-page .comtd2>div .youtube-play img, #contentOneItem .youtube-play img{
    margin: 0px auto;
}
.comments-page .comtd2>div .youtube-play, .comments-page .comtd2>div .youtube-play img,.comments-page .comtd2>div img{
    width: 100%;
    max-width: 600px;
}
#contentOneItem .preloader,#commentsOneItem .preloader, .live-video-preloader-wrapper .preloader{
    margin: 15px auto 0 auto;
    display: block;
    width: 30px;
    height: 30px;
}
#live-video-wrapper.live-video-preloader-wrapper .preloader{
    display: block;
}
#live-video-wrapper .preloader{
    display: none;
}
.live-video-preloader-wrapper  #live-video{
    display: none;
}
.disable-touch{
    pointer-events: none;
}
.no-info {
    padding-top: 30px;
    text-align: center;
}
.send-button .preloader-white{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 20px;
    display: none;
}
.send-button.in-progress{
    background: rgba(0, 122, 255, 0.75);
    pointer-events: none;
}
.send-button.in-progress .preloader-white{
    display: block;
}
.preloader.big{
    display: block;
    position: relative;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -15px;
}

.infinite-scroll-preloader.centered{
    position: relative;
    height: 100%;
}
.text-centered{
    text-align: center;
}
.tabs-animated-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.custom-tabs{
    margin-top: 34px;
}
 .custom-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
 .custom-tabs .custom-tab {
  width: 100%;
  display: block;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
}
 .overflow{
     position: relative;
     overflow: hidden;
     height: 100%;
     width: 100%;
 }
.infinite-custom-preloader {
    text-align: center;
    height: 35px;
    position: relative;
    transform: translate3d(0,-35px,0);
    -webkit-transform: translate3d(0,-35px,0);
}
.youtube-play{
    width: 300px;
    min-height: 140px;
    position: relative;
    margin: 15px auto 0 auto;
}
.youtube-play:after{
    width: 60px;
    height: 40px;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -30px;
    background: url("../img/youtube-play-ico.png") no-repeat;
    background-size: 100% 100%;

}
.popup.custom-dark-theme{
    background: #000000;
    overflow: hidden;
}
.popup.custom-dark-theme .content-block{
    height: 100%;
    box-sizing: border-box;
    margin: 35px 0 0 0;
    text-align: center;
}
.popup.custom-dark-theme  iframe{
    background: url("../img/youtube-preloader.GIF") scroll 50% 50% no-repeat #000000;
}
.popup.custom-dark-theme .content-block iframe{
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
}
.popup.custom-dark-theme .navbar{
    background: rgba(30,30,30,.8);
    border:none;
}
.popup.custom-dark-theme a.link{
    color: #fff;
}.popup.custom-dark-theme a.link span{
     margin-left: 7px;
}
body.dragging .list-block{
    height: 100%;
    margin: 0;
}
.list-block .list-wrap.visited{
    opacity: 0.75;
}
body.dragging .infinite-custom-preloader{
    height: 0;
}
.custom-tabs{
      position: relative;
      margin-top: 74px;
}
.custom-tabs .list-block{
   margin: 0 0 35px 0;
   overflow: hidden;

}
.custom-tabs .custom-tab{
   position: relative;
   z-index: 1;
   background: #efeff4;
   padding-bottom: 35px;
}
.custom-tabs .pull-to-refresh-custom{
   text-align: center;
   height: 35px;
   position: absolute;
   top: 48px;
   left: 50%;
   margin-left: -15px;
   z-index: 0;
}
#ptr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    text-align: center;
    height: 50px;
}

#ptr .genericon {
    width: 13px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6px;
    margin-top: -10px;
    background: no-repeat center;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 40'><polygon points='9,22 9,0 17,0 17,22 26,22 13.5,40 0,22' fill='%238c8c8c'/></svg>");
    background-size: 13px 20px;
    z-index: 10;
    -webkit-transform: rotate3d(1,1,1,0deg) translate3d(0, 0, 0);
    -ms-transform: rotate3d(1,1,1,0deg) translate3d(0, 0, 0);
    transform: rotate(1,1,1,0deg) translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -webkit-transform: perspective(0);
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}
.ptr-refresh #ptr .genericon {
    -webkit-transform: rotate3d(1,0,0,180deg);
    transform: rotate(1,0,0,180deg);
}
.ptr-loading #ptr .genericon,
.ptr-reset #ptr .genericon {
    display: none;
}

.loading {
    display: inline-block;
    text-align: center;
    opacity: .4;
    margin: 12px 0 0 5px;
    display: none;
}
.ptr-loading .loading {
    display: block;
}

.loading span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    border-radius: 50%;
    -webkit-animation: ptr-loading 0.4s infinite alternate;
    animation: ptr-loading 0.4s infinite alternate;
}

#l1 {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

#l2 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#l3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

@-webkit-keyframes ptr-loading {
    0% {
        -webkit-transform: translateY(0) scale(0.3);
        transform: translateY(0) scale(0.3);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: #000;
        opacity: 1;
    }
}

@keyframes ptr-loading {
    0% {
        -webkit-transform: translateY(0) scale(0.3);
        transform: translateY(0) scale(0.3);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: #000;
        opacity: 1;
    }
}

.custom-tab {
    min-height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

.ptr-loading .custom-tab, .ptr-reset .custom-tab,
.ptr-loading #ptr, .ptr-reset #ptr {
    transition: all .25s ease;
}

.ptr-reset .custom-tab {
    -webkit-transform: translate3d( 0, 0, 0 );
    transform: translate3d( 0, 0, 0 );
}

.ptr-loading .custom-tab {
    -webkit-transform: translate3d( 0, 50px, 0 );
    transform: translate3d( 0, 50px, 0 );
}
.item-page .item-media img.none{
    display: none;
}
/*.item-inner.no-border.block {*/
    /*display: block;*/
/*}*/
#imgPreView img {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    height: auto;
    width: 50%;
    margin: 5px;
}
#imgPreView {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.block-fast-touch{
    pointer-events:none
}

.live-video{
    top: 9px;
    right: 15px;
    position: absolute;
    background-color: #ffca0c;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}